.input-group-text {
  background-color: $white;
  border-color: $primaryColor;
}

.form-control {
  border-color: $primaryColor;

  &:focus {
    border-color: $primaryColor;
  }
}

.no-left-border {
  border-left: none;
}
