.input-group-text {
  background-color: $white;
  border-color: $primaryColor;
}

.form-control {
  border-color: $primaryColor;

  &:focus {
    border-color: $primaryColor;
    box-shadow: none;
  }
}

input[type='text']:disabled {
  cursor: not-allowed;
}

.no-left-border {
  border-left: none;
}
