#navbar {
  background-color: $lightPurple;
  padding-bottom: 10px;
}

#category-dropdown {
  display: flex !important;
  justify-content: center;
  align-items: center;
  padding: 0px;

  &:focus {
    border: none;
  }
}
